header {
    width: 100%;
    background-color: rgb(75, 47, 151);
    padding: 10px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    cursor: pointer;
}

nav ul li:hover {
color: white;}

.config img {
    width: 30px;
}

.logo img {
    width: 80px;
}